<div fxflex=100 fxLayout="row" fxLayoutAlign="center center" style="margin-top: 100px">

    <mat-card fxFlex=50 fxLayout="row" fxLayoutAlign="center center">
      <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpassword()">
          <div>
            <h3 style="font-size:30px; text-align: center">
              <span style="color:blue;">F</span>
              <span style="color:red;">U</span>
              <span style="color:rgb(255, 255, 0);">N</span>
              <span style="color:blue;">D</span>
              <span style="color:green;">O</span>
              <span style="color:red;">O</span>
            </h3>
          </div>
          <h1 style="text-align: center">Find your email</h1>
          <p style="text-align: center">Enter your phone number or recovery email</p>
    
        <div>
          <mat-form-field fxFlex=100 appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="email" formControlName="email">
            <mat-error>email is required</mat-error>
          </mat-form-field>
        </div>
        
        <div fxLayoutAlign="end end" >
          <button mat-raised-button color="primary">Next</button>
        </div>
  
  
      </form>
    </mat-card>
  </div>