<mat-card class="notelist" *ngFor='let note of MyNotes.reverse()'>
    <div>
        <div (click)="openUpdateNoteDialog(note)" fxLayout="row">
            {{note.title}}
            <div>
            <img class="pin" src="assets\image\pin.svg">
            </div>
        </div>
        <br>
        <div (click)="openUpdateNoteDialog(note)">
            {{note.description}}
        </div>
        <div (click)="openUpdateNoteDialog(note)">
            {{note.noteID}}
        </div>
    </div>
    <div class="noteicon">
        <app-icons  (autoRefreshmessageEvent)="dataReceivedfromIconComponent()" class="icons" [NoteID]="note.noteID"></app-icons>
    </div>


</mat-card>