.notelist {
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    float:left


}
.pin{
    height:20px;
    margin-left:180px; 
    opacity: 0.7;
    visibility: hidden;
}
.notelist:hover .pin {
    visibility: visible;
}
.noteicon {
    margin-top: 50px;
}
.icons {
   visibility: hidden;
}

.notelist:hover .icons {
    visibility: visible;
}