<div class="main">

    <mat-card class="card-1" *ngIf="!isShow" (click)="toggleDisplay()">
         
        <input class="search" placeholder="Fundoo note" style="height:30px;width:380px;border:none">
        <div fxLayoutGap="20px" fxLayout="row">
            <img src="assets\image\title-1.svg" style="height:20px; opacity: 0.5;">
            <img src="assets\image\title-2.svg" style="height:20px; opacity: 0.5;">
            <img src="assets\image\title-3.svg" style="height:20px; opacity: 0.5;">
        </div>

    </mat-card>

    <mat-card class="card-2" *ngIf="isShow">
        <form fxLayout="column" [formGroup]="createnoteForm" (ngSubmit)="createnote()">
            <div fxLayout="row">
                <input class="title" placeholder="Title" formControlName="title" style="height:30px;width:380px;border:none" >
                <img src="assets\image\pin.svg" style="height:20px;margin-left: auto; opacity: 0.7;">
            </div>
            <br><br>
            <div>
                <input class="title" placeholder="Fundoo note" formControlName="description" style="height:30px;width:380px;border:none">
                <br>
                <br>
                <br>

                <div fxLayout="row">
                    <div fxLayoutGap="30px">
                        <img src="assets\image\1.svg" style="height:20px;margin-right: auto; opacity: 0.7;">
                        <img src="assets\image\2.svg" style="height:20px;margin-right: auto; opacity: 0.7;">
                        <img src="assets\image\3.svg" style="height:20px;margin-right: auto; opacity: 0.7;">
                        <img src="assets\image\4.svg" style="height:20px;margin-right: auto; opacity: 0.7;">
                        <img src="assets\image\5.svg" style="height:20px;margin-right: auto; opacity: 0.7;">
                        <img src="assets\image\6.svg" style="height:20px;margin-right: auto; opacity: 0.7;">
                    </div>
                    <button style="margin-left:auto; border:none">Close</button>
                </div>

            </div>
        </form>


    </mat-card>

</div>