<div fxflex=100 fxLayout="row" fxLayoutAlign="center center" style="margin-top: 100px">

  <mat-card fxFlex=30 fxLayout="row" fxLayoutAlign="center center" style="padding:30px">
    <form [formGroup]="resetpasswordForm" (ngSubmit)="resetpassword()">
      <div>
        <h3 style="font-size:30px; text-align: center">
          <span style="color:blue;">F</span>
          <span style="color:red;">U</span>
          <span style="color:rgb(255, 255, 0);">N</span>
          <span style="color:blue;">D</span>
          <span style="color:green;">O</span>
          <span style="color:red;">O</span>
        </h3>
      </div>
      <h1 style="text-align: center">Reset Password</h1>


      <div fxLayoutGap="10px">
        <mat-form-field fxFlex=150 appearance="outline">
          <mat-label>password</mat-label>
          <input matInput formControlName="password" placeholder="password">
          <mat-error>password is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlex=150 appearance="outline">
          <mat-label>confirmPassword</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="confirmPassword">
          <mat-error>confirmPassword is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end end">
        <button mat-raised-button color="primary">Next</button>
      </div>


    </form>
  </mat-card>
</div>